@font-face{
  font-family: 'rockmore';
  src: url('./fonts/Rockmore.ttf')
}

@font-face{
  font-family: 'dexter';
  src: url('./fonts/Russel\ dexter.ttf')
}

@font-face{
  font-family: 'bullpen';
  src: url('./fonts/bullpen\ hv\ it.ttf')
}

@font-face{
  font-family: 'Oswald';
  src: url('./fonts/Oswald-Regular.ttf')
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: content-box;
  text-decoration: none;
  font-family: 'Oswald';
  letter-spacing: 1px;
}

/* NavBar */

.navBar{
  position: fixed;
  left:0;
  top:0;
  z-index: 99;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.89);
}

.logo{
  width: 35px;
  margin: 0px 20px;
}

.logo-container{
  align-self: start;
  display: flex;
  align-items: center;
  height: 50px;
  margin-left: 10px;
}

.logo-container p{
  color: rgba(255, 255, 255, 0.856);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'bullpen';
}

.navBar nav{
  color: white;
  align-self: flex-end;
  text-transform: uppercase;
  margin-right: 20px;
  letter-spacing: 1px;
  
}

.navBar ul{
  display: flex;
  list-style: none;
  align-self: flex-start;
  height: 50px;
}

.navBar ul li{
  font-family: 'bullpen';
}

.link{
  color: white;
  text-decoration: none;
  margin-right: 20px;
  cursor: pointer;
  align-self: center;
  transition: all 400ms;
  height: 30px;
  line-height: 30px;
  padding: 0px 20px;
  border-radius: 10px;
  border: 1px solid transparent;
}

.navBar ul li:hover{
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.568);
}

.boton-cesta{
  color: white;
  text-decoration: none;
  cursor: pointer;
  align-self: center;
  transition: all 400ms;
  height: 30px;
  line-height: 30px;
  padding: 0px 20px;
  border-radius: 10px;
  border: 1px solid transparent;
  margin-left: -20px;
  margin-right: -20px;
}

.boton-cesta:hover{
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.568);
  border: 1.5px solid white;
}

.cart-icon{
  font-size: 25px;
  margin-bottom: -5px;
  margin-left: 5px;
}

.burger-menu{
  color: white;
  float: right;
  align-self: flex-end;
  line-height: 50px;
  margin-left: auto;
  font-size: 28px;
  margin-right: 40px;
  display: none;
  cursor: pointer;
  margin-bottom: 10px;
  padding-left: 400px;
}

@media (max-width: 1060px){
  .burger-menu{
    display: block;
  }
  .navBar{
    flex-flow: row wrap;
  }
  .navBar ul{
    background-color: rgba(68, 68, 68, 0.726);
    width: 100vw;
    text-align: center;
    justify-content: space-evenly;
  }
  .navBar ul li:hover{
    text-shadow: 1px 1px 2px rgba(206, 205, 205, 0.568);
  }

  .navBar .oculto{
    display: none;
  }
}

@media (max-width: 740px){
  .navBar ul{
    flex-direction: column;
    height: 95vh;
    background-color: rgba(68, 68, 68, 0.842);
  }

  .navBar ul .link,
  .navBar ul .boton-cesta{
    height: 23.5vh;
    line-height: 23.5vh;
    border-bottom: 1px solid black;
    width:100vw;
    transition: background-color 400ms;
  }

  .navBar ul .link:hover,
  .navBar ul .boton-cesta:hover{
    background-color: rgba(68, 68, 68, 0.911);
    border: none;
    border-bottom: 1px solid black;
    border-bottom: 1px solid black;
  }
  .burger-menu{
    padding-left: 100px;
  }
}

/* SLIDER */
.react-slideshow-container + div.indicators {
  margin-top: -40px !important;
}

.react-slideshow-container + div.indicators li {
  margin: 0 10px !important;
}

.react-slideshow-container + div.indicators .each-slideshow-indicator:before {
  background-color: rgb(255, 255, 255) !important;
}

.each-slide div #img-slider{
  width: 100vw;
  height: 100vh;
}

@media (max-width: 1050px){
  .each-slide div #img-slider{
    height: 75vh;
  }
}

@media (max-width: 650px){
  .each-slide div #img-slider{
    height: 55vh;
  }
} 

/* FEATURED BIKES */

.display-bikes{
  margin-top: 75px;
  text-align: center;
  margin-bottom: 100px;
}

.titulo{
  font-size: 50px;
  color: #222;
  margin-bottom: 75px;
  letter-spacing: 5px;
  font-family: 'bullpen';
  text-transform: uppercase;
}

.bike-container{
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-row-gap: 5rem;
  grid-column-gap: 60px;
}

@media screen and (min-width: 776px) {
  .featured-rooms-center {
    width: 90vw;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  }
}
@media screen and (min-width: 992px) {
  .featured-rooms-center {
    width: 95vw;
    max-width: 1170px;
  }
}

/* PRODUCTS */

.products-container{
  text-align: center;
}

.wallpaperContainer{
  max-height: 100vh;
  overflow: hidden;
}

.wallpaper{
  max-width: 100%;
  height: auto;
  animation: 1.3s ease-out 0s 1 slideInFromLeft
}

@keyframes slideInFromLeft {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.productos-contenido{
  margin-top: 75px;
  margin-bottom: 100px;
}

.notificacion{
  font-size: 35px;
  color: #333;
}

/* BIKE CARD */
.bike-container a{
  display: flex;
  cursor: auto;
  width: 300px;
  justify-self: center;
}
.bike-img{
  margin-top: 40px;
  width: 220px;
  height: 145px;
  transition: all 400ms;
}

.container{
  justify-self: center;
  color: #333;
  width: 300px;
  height: 450px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 2px 2px 5px #444, 15px 10px 30px inset #ddd;
  cursor: pointer;
  position: relative;
}

.cubreContainer{
  position: absolute;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 10px;
  transition: 500ms all;
}

.container:hover .cubreContainer{
  background-color: rgba(0, 0, 0, 0.055);
}

.container:hover h1{
  color: rgba(187, 142, 28, 0.658);
}

.container:hover h2{
  color: rgba(112, 84, 11, 0.658);
}

.container:hover .precio{
  color: rgba(83, 63, 12, 0.658);
}

.carta-titulo{
  width: 80%;
  margin-left: 10%;
  height: 30%;
  display:table;
}

h1{
  font-family: 'bullpen';
  margin-top: 20px ;
  padding-top: 30px;
  font-size: 35px;
  display:table-cell; 
  vertical-align:middle;
  text-transform: uppercase;
  transition: 300ms all;
}

h2{
  font-size: 21px;
  padding-top: 10px;
  color: #666;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 300ms all;
}

.precio{
  margin-top: 40px;
  font-size: 16px;
  text-transform: uppercase;
  color: #444;
}

.filter-form {
  width: 60vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(202px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 40px;
  margin-bottom: 75px;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-size:20px
}

.form-control {
  width: 250px;
  background: transparent;
  font-size: 1rem;
}

input[type=select]{
  width: 250px;
  text-transform: capitalize;
}

.select-input{
  width: 200px;
  padding: 1px;
  padding-left: 10px;
  font-size: 17px;
}

/* RANGE INPUT */

input[type=range] {
  height: 25px;
  -webkit-appearance: none;
  margin: 0px 0;
  width: 250px;
  overflow: hidden;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  box-shadow: 1px 1px 1px#333;
  background: transparent;
  border-radius: 5px;
  border: 1px solid #333;
}
input[type=range]::-webkit-slider-thumb {
  
  border: 1px solid #444;
  height: 23px;
  width: 10px;
  border-radius: 9px;
  background: #333;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.5px;
}


/* FOOTER */

footer{
  height: 250px;
  background-color: #111;
  padding: 40px 25px;
}

footer h2{
  text-align: center;
  font-family: 'bullpen';
  font-size: 28px;
  letter-spacing: 2px;
  color: rgb(133, 131, 131);
}

.terminos{
  display: flex;
  color: #666;
  list-style: none;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 50px;
}

.terminos li{
  width: 33%;
  text-align: center;
  font-size: 15px;
}

footer p{
  margin-top: 30px;
  color: #666;
  text-align: center;
}

.redes-sociales-container{
  font-size: 30px;
  margin-top: 50px;
  color: #666;
  display: flex;
}

.redes-sociales{
  margin-left:5vw;
}

.red-social-icon{
  margin-left: 20px;
  transition: 400ms;
}

.red-social-icon:hover{
  color: rgba(255, 255, 255, 0.733);
}

.bandera{  
  display: block;
  width: 30px;
  height: 18px;
  margin-left: auto;
  margin-right: 5vw;
  align-self: center;
}

a{
  color: #666;
}

@media (max-width: 650px){
  footer{
    height: 330px;
  }
  .redes-sociales-container{
    flex-direction: column;
    justify-content: center;
  }
  .redes-sociales{
    display: flex;
    justify-content: center;
    margin: 0px;
  }
  .bandera{
    margin: 0 auto;
    margin-top: 30px;
  }
  
}

@media (max-width: 400px){
  footer{
    height: 380px;
  }
}

/* DETAILED BIKES */

.detailed-info{
  display: flex;
  padding: 150px 50px;
}

.info-container{
  width: 400px;
  padding: 0px 100px;
  align-self: center;
  text-align: justify;
}

.info-container h3{
  color: #222;
  font-size: 50px;
  text-transform: uppercase;
  font-family: 'bullpen';
  margin-bottom: 30px;
  margin-top: 50px;
}

.info-container p{
  font-size: 20px;
  margin-bottom: 30px;
  color: #222;
}

.info-container .detailed-precio{
  font-size: 17px;
  color: #222;
  margin-bottom: 30px;
}

#boton-comprar{
  background-color: #222;
  color: white;
  box-shadow: 2px 2px 8px #aaa, inset 2px 3px 10px #333;
}

#boton-comprar:hover{
  background-color: rgba(187, 142, 28, 0.658);
  color: white;
  box-shadow: 2px 2px 8px #aaa, 0px 0px 25px rgba(112, 84, 11, 0.658) inset;
}

.detailed-img{
  justify-self: flex-end;
  margin-left: auto;
  align-self: center;
  width: 800px;
}

.ocultar-container{
  background-color: rgba(0, 0, 0, 0.521);
  z-index: 100;
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.añadir-carrito-container{
  height: 500px;
  width: 375px;
  background-color: white;
  margin: 0 auto;
  text-align: center;
  box-shadow: 2px 2px 15px #444, inset 8px 7px 35px #ccc;
  border-radius: 10px;
}

.añadir-carrito-container h3{
  margin-top: 50px;
}

.modelo{
  font-family: 'bullpen';
  text-transform: uppercase;
  padding-top: 20px
}

.añadir-carrito-container p{
  margin-top: 15px;
}

.añadir-carrito-container img{
  margin-top: 20px;
 width: 300px
}

.añadir-carrito-container button{
  margin: 30px 15px;
  width: 120px;
  padding: 5px 0px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  background-color: white;
  outline: none;
}

#seguir-boton{
  border: 2px solid #333;
  transition: all 400ms ease-in;
  position: relative;
  text-shadow: 0px 0px 8px #aaa;
  z-index: 1;
}

#seguir-boton:before{
  content:"";
  position: absolute;
  bottom: 0;
  left:0;
  background: #333;
  height: 100%;
  width: 0%;
  transition: 400ms ease-in;
  z-index: -1;
}

#seguir-boton:hover{
  color: white;
  text-shadow: 0px 0px 9px black;
}

#seguir-boton:hover:before{
  width: 100%;
}

#ir-boton{
  text-shadow: 0px 0px 8px #aaa;
  border: 2px solid rgba(187, 142, 28, 0.658);
  color: rgba(110, 85, 20, 0.89);
  position: relative;
  z-index: 1;
  overflow: hidden;
}

#ir-boton:before{
  z-index: -1;
  content: "";
  position: absolute;
  left: 0;
  bottom:0;
  height: 100%;
  width: 0%;
  background-color: rgba(187, 142, 28, 0.658);
  transition: 400ms ease-in;
}

#ir-boton:hover:before{
  width: 100%;
}

#ir-boton:hover{
  color: white;
}

@media (max-width: 1220px){
  .detailed-img{
    width: 600px;
  }
}

@media (max-width: 1083px){
  .detailed-img{
    width: 500px;
  }
  .info-container{
    padding: 50px;
  }
}

@media (max-width: 980px){
  .detailed-img{
    width: 500px;
  }

  .info-container{
    padding: 0px;
    padding-left: 25px;
    padding-right: 50px;
  }
}

@media (max-width: 855px){
  .detailed-img{
    width: 350px;
  }

  .info-container h3{
    font-size: 40px;
  }

  .info-container p{
    font-size: 18px;
  }
}

@media (max-width: 750px){
  .detailed-info{
    padding: 70px 0px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .info-container{
    text-align: center;
    width: 60vw;
  }

  .detailed-img{
    width: 70vw;
    justify-self: center;
    margin: 0px;
  }

  .info-container h3{
    width: 60vw;
    text-align: center;
  }

  .info-container p{
    width: 60vw;
    text-align: center;
  }

  #boton-comprar{
    margin-top: 20px;
    margin-bottom: 40px;
    width: 200px;
  }
}
/* INFO DETALLADA MOTOR  */

.engine-info-container{
  padding-top: 110px;
  background-color: rgb(0, 0, 0);
  color: white;
}

.titulo-motor{
  text-align: center;
  font-family: 'bullpen';
  color: white;
  font-size: 50px;
  letter-spacing: 4px;

}

.engine-info{
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(200px, 1fr));
  column-gap: 5em;
  padding: 0px 75px;
  padding-bottom: 200px;
}

.info-principal{
  display: flex;
  margin-top: 100px;
  margin-bottom: 20px;
}

.engine-info h4{
  font-size: 50px;
}

.engine-info h5{
  font-size: 16px;
  margin-left: 20px;
  margin-top: 10px;
}

.engine-info-cubicle p{
  width: 80%;
  font-size: 17px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.623);
}

/* DONDE ESTAMOS */

.donde-estamos{
  padding-top: 110px;
  color: #222;
}

.donde-estamos h2{
  text-align: center;
}

.donde-estamos-container{
  padding: 100px;
  padding-top: 0px;
  display: flex;
}

.map{
  height: 30vw;
  width: 40vw;
  border: none;
  box-shadow: 2px 3px 20px #aaa;
  border-radius: 8px;
}

.info-ubicacion{
  margin-left: auto;
  width: 32vw;
}

.info-ubicacion h3{
  margin-top: 5vw;
  font-size: 28px;
  font-family: 'bullpen';
  text-transform: uppercase;
}

.info-ubicacion h4{
  margin-top: 25px;
  font-size: 23px;
}

.info-ubicacion p{
  font-size: 17px;
  margin-top: 5px;
}

@media (max-width: 1150px){
  .info-ubicacion h3{
    margin-top: 15px;
  }
}

@media (max-width: 1000px){
  .donde-estamos-container{
    flex-direction: column;
  }

  .info-ubicacion{
    text-align: center;
    justify-self: center;
    width: 70vw;
    order: 1;
    margin: 0 auto;
    padding: 0px;
    margin-top: -25px;
  }

  .mapaContainer{
    order: 2;
    margin-top: 75px;
    text-align: center;
  }

  .map{
    width: 50vw;
    height: 50vw;
    margin-bottom: 50px;
  }
}

@media (max-width: 780px){
  .donde-estamos h2{
    font-size: 40px;
  }

  .info-ubicacion{
    margin-top: -50px;
  }

  .info-ubicacion h3{
    font-size: 23px;
  }

  .info-ubicacion p{
    font-size: 15px;
  }

  .donde-estamos-container{
    padding: 0px;
  }
}

/* CESTA */

.cesta-resumen{
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
  width: 60vw;
  border-bottom: 1px solid #ccc;
  padding-bottom: 50px;
}

.cesta-resumen h3{
  font-size: 45px;
  letter-spacing: 2px;
}

.cesta-resumen p{
  font-size: 20px;
  margin-top: 10px;
}

.cesta-resumen button{
  width: 250px;
  margin-top: 30px;
  background-color: rgba(187, 142, 28, 0.658);
  color: white;
  box-shadow: 2px 2px 8px #aaa, 0px 0px 25px rgba(112, 84, 11, 0.658) inset ;
  font-size: 20px;
  transition: all 500ms;
}

.cesta-resumen button:hover{
  background-color: rgb(15, 121, 15);
  color: white;
  box-shadow: 0px 0px 25px rgba(71, 52, 11, 0.658) inset;
}

.cesta-container{
  text-align: center;
  padding-top: 100px;
  text-transform: uppercase;
  width: 75vw;
  margin: 0 auto;
  padding-bottom: 150px;
  min-height: 50vh;
}

.cesta-container h3{
  text-align: center;
  font-size: 45px;
}

.cesta-container p{
  padding-top: 20px;
  text-align: center;
  font-size: 23px;
  margin-bottom: 30px;
}

.boton-cesta-container{
  padding: 8px 15px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  background-color: white;
  box-shadow: 2px 2px 8px #666;
  cursor: pointer;
  transition: all 300ms ;
  outline: none;
  font-size: 16px;
}

.boton-cesta-container:hover{
  background-color: rgba(187, 142, 28, 0.658);
  color: white;
  box-shadow: 2px 2px 8px #aaa, 0px 0px 25px rgba(112, 84, 11, 0.658) inset ;
}

.cesta-img{
  width: 100%;
  margin: auto;
}

.cesta-producto{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding-bottom: 100px;
}

.cesta-producto h3{
  font-family: 'bullpen';
  text-transform: uppercase;
  font-size: 30px;
}

.cantidad-botones{
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  justify-content: center;
}

.cantidad-botones button{
  height: 20px;
  width: 30px;
  border-radius: 5px;
  margin: 0px 20px;
  line-height: 15px;
  margin-top: 7px;
  font-size: 19px;
  text-shadow: 0px 0px 2px #666;
  background-color: #333;
  color: white;
  border: 1px solid #222;
  box-shadow: 1px 1px 5px #666;
  cursor: pointer;
  outline: none;
  transition: all 500ms;
}

.cantidad-botones button:hover{
  background-color: #444;
  border: 1px solid #333;
}

.cantidad-botones p{
  padding-top: 0px;
}

.trash{
  font-size: 25px;
  color: #333;
  cursor: pointer;
}

.trash:hover{
  color: #444;;
}

.totals{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.totals p{
  font-size: 17px;
  padding: 0px;
  margin: 15px 0px;
}

.cesta-totales{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  border-top: 1px solid black;
  padding-top: 50px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: -100px;
}

.cesta-totales-botones{
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  flex-flow: row wrap;
  margin-bottom: 150px;
  margin-top: 30px;
}

.cesta-boton{
  width: 115px;
  margin-right: 160px;
  margin-left: -100px;
  text-transform: uppercase;
  padding: 10px 15px;
  font-size: 15px;
  letter-spacing: 1px;
}

#vaciar-boton{
  background-color: white;
  border: 1px solid rgb(214, 11, 11);
  box-shadow: 1px 1px 5px rgb(214, 190, 190);
  color: rgb(214, 11, 11);
  text-shadow: none;
}

#vaciar-boton:hover{
  background-color: rgb(214, 11, 11);
  color: white;
  box-shadow: 0px 0px 25px rgba(112, 84, 11, 0.658) inset;
}

#comprar-boton{
  border: 1px solid rgb(15, 121, 15);
  color: rgb(15, 121, 15);
  box-shadow: 1px 1px 5px rgb(214, 190, 190);
}

#comprar-boton:hover{
  background-color: rgb(15, 121, 15);
  color: white;
  box-shadow: 0px 0px 25px rgba(71, 52, 11, 0.658) inset;
}

.cesta-totales h4{
  margin-left: auto;
  margin-right: 240px;
  text-align: center;
  width: 200px;
  font-size: 35px;
  text-transform: uppercase;
  padding-bottom: 15px;
}

.cesta-totales p{
  margin-left: auto;
  margin-right: 240px;
  text-align: center;
  width: 200px;
  font-size: 20px;
  padding: 15px 0px;
}

@media (max-width: 830px){
  .cesta-producto{
    grid-template-columns: repeat(2, 1fr)
  }
  
  .cesta-img{
    width: 400px;
    margin-bottom: 75px;
    grid-column-start: 1;
    grid-column-end: 3;
    margin-top: -50px;
  }

}

@media (max-width: 700px){
  .cesta-producto{
    grid-template-columns: 1fr;
    padding-bottom: 40px;
  }

  .cesta-container{
    padding-bottom: 50px;
  }

  .cesta-img{
    grid-column-start: 1;
    grid-column-end: 2;
    margin-bottom: 50px;
  }

  .totals{
    margin-top: 50px;
  }

  .cesta-totales{
    text-align: center;
    margin: auto;
    padding: 0;
    padding-top: 50px;
  }

  .cesta-totales h4{
    margin: 0 auto;
  }

  .cesta-totales p{
    margin: auto;
    justify-self: center;
  }

  .cesta-totales-botones{
    justify-content: space-evenly;
    justify-items: space-evenly;
  }

  .cesta-totales-botones .cesta-boton{
    margin: 0 auto;
    justify-self: space-evenly;
    margin-right: 0px;
    margin-left: 0px;
  }
}

@media (max-width: 500px){
  .cesta-img{
    width: 70vw;
  }

  .cesta-resumen button{
    width: 50vw;
  }
}

/* COMPRA REALIZADA */

.compra-container{
  text-align: center;
  padding-top: 100px;
  width: 75vw;
  margin: 0 auto;
  padding-bottom: 150px;
}

.compra-container h3{
  font-size: 40px;
  padding-bottom: 50px;
  text-transform: uppercase;
}

.uppercase{
  text-transform: uppercase;
}

.info-compra{
  color: #555;
}
.compra-container p{
  margin-bottom: 15px;
}

.boton-compra-container{
  padding: 8px 10px;
  border-radius: 8px;
  width: 250px;
  text-transform: uppercase;
  margin-top: 30px;
  background-color: #333;
  color: white;
  border: none;
  box-shadow: 3px 3px 5px #aaa;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  transition: all 400ms;
}

.boton-compra-container:hover{
  background-color: rgba(138, 102, 13, 0.658);
  box-shadow: 3px 3px 5px #aaa, inset 5px 5px 25px rgba(95, 70, 8, 0.658);;
}

.como-contactar{
  margin-top: 50px;
}

.contacto{
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-bottom: -50px;
}

.icon-compra-contacto{
  margin-bottom: 20px;;
  font-size: 35px;
}